# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion
.idea/
cmake-build-debug/

# Executables
# Ignore all files in /bin without a file extension
bin/[^.]*
# Ignore all files in /bin/* without a file extension
bin/*/[^.]*
# Unignore subdirectories
!bin/*/

# MacOS
.DS_Store

# VS Code
.vscode

# Database Files
*.bin

# Coverage
*.gcno
*.gcda